<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GCE Quick View</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="stylesheet" href="../static/main.css">
    </head>

    <body>

        <main>
            <h1>
                Welcome to GCE Quick view
            </h1>
            <div id="text_container">
                <p>
                    Welcome to GCE Quick View – your ultimate quick-access hub for Cameroon GCE past papers!
                </p>
                <p>
                    Whether you're a student preparing for Ordinary Level (O-Level) or Advanced Level (A-Level) exams
                    , a teacher seeking reliable resources, or a parent supporting revision, we've compiled an extensive collection of past question papers from years gone by. Browse, search, and download papers across all subjects instantly – no hassle
                    , just efficient preparation to boost your confidence and performance.
                    </p>
                <p>Dive in today and turn past papers into your path to GCE success!</p>
            </div>
        </main>

        <footer>&copy; all rigth reserved davynci <p id="footer-phone-number"> +237 688326229</p></footer>
    </body>
</html>